---
import "../styles/global.scss";
import BaseLayout from "../layouts/BaseLayout.astro";
import FooterComponent from "../components/FooterComponent.astro";
import CountdownComponent from "../components/CountdownComponent.astro";
---

<BaseLayout pageLayout="boda" pageTitle="Boda">
  <div class="background-container">
    <picture>
      <source
        srcset="https://images.pexels.com/photos/931177/pexels-photo-931177.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        media="(min-width: 600px)"
      />
      <img
        src="https://images.pexels.com/photos/931177/pexels-photo-931177.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt="Background"
        class="main-background"
      />
    </picture>
  </div>

  <div class="title-one">
    <h1>Los detalles del día</h1>
  </div>

  <CountdownComponent />

  <section class="wedding-details">
    <p class="details-title">Detalles</p>
    <p>Aquí te dejamos los detalles del gran día.</p>

    <div class="details-container">
      <div class="details-unit">
        <i class="fa-regular fa-calendar fa-2xl" style="color: #5C4433;;"></i>
        <h1>Detalles del evento</h1>
        <p>Fecha: 21 de Diciembre de 2024</p>
        <p>Hora: 15:00</p>
        <p>Dirección: Hacienda Santa Cecilia Sáchica</p>
      </div>
      <div class="details-unit">
        <i class="fa-regular fa-user fa-2xl" style="color: #5C4433;;"></i>
        <h1>Dresscode Formal</h1>
        <p>Mujeres: Vestido Largo <br />Colores oscuros</p>
        <p>Hombres: Traje Negro <br />Corbata negra</p>
      </div>
      <div class="details-unit">
        <i class="fa-regular fa-bell fa-2xl" style="color: #5C4433;;"></i>
        <h1>Importante!</h1>
        <p>
          Queremos que estén conectados con nosotros durante la ceremonia, por
          favor no utilicen el celular ni publiquen en redes sociales.
          Disfrutemos juntos de principio a fin.
        </p>
      </div>
    </div>
  </section>

  <div
    class="location-img-section"
    style="background:url(https://firebasestorage.googleapis.com/v0/b/mjb-web-ae899.appspot.com/o/ASSETS%2Fhaciendaaa.jpeg?alt=media&token=9b2e450d-2156-4658-9a05-fc9034c901a8)"
  >
  </div>

  <section class="hotels-section">
    <p class="hotels-section-title">Hoteles cerca</p>
    <p>Las instalaciones cuentan con hotel, pero aquí hay otras opciones:</p>

    <div class="hotels-section-container">
      <div class="hotels-section-unit">
        <h1>Hotel Gran Sirius</h1>
        <p>
          Carrera 11a #12-47 Centro Histórico <br />Villa de Leyva 154001
          Colombia
        </p>
        <p>+57 310 6255074</p>
      </div>
      <div class="hotels-section-unit">
        <h1>Hotel Campanario de la Villa</h1>
        <p>
          Carrera 11a #12-47 Centro Histórico <br />Villa de Leyva 154001
          Colombia
        </p>
        <p>+57 310 5500216</p>
      </div>
      <div class="hotels-section-unit">
        <h1>Hotel San Luis Sáchica</h1>
        <p>
          Carrera 11a #12-47 Centro Histórico <br />Villa de Leyva 154001
          Colombia
        </p>
        <p>+57 317 4889070</p>
      </div>
    </div>
  </section>

  <FooterComponent />
</BaseLayout>

<style lang="scss">
  .text-center {
    text-align: center;
  }

  .title-one {
    text-align: center;
    width: 100%;
    height: calc(100vh - 80px);
    display: grid;
    align-content: center;

    h1 {
      transform: translate(0, -40px);
      font-size: 11rem;
    }
  }

  .timeline-container {
    background-color: white;
  }

  .background-container {
    background: linear-gradient(
      180deg,
      rgba(92, 68, 51, 0.9038209033613446) 0%,
      rgba(92, 68, 51, 0.4220281862745098) 100%
    );
  }

  .wedding-details {
    background-color: #E3D7D4;
    text-align: center;
    margin: 0%;
    padding: 15ch;

    .details-title {
      font-size: 35px;
      margin: 0%;
    }

    h1 {
      color: #5C4433;
    }

    p {
      color: #5C4433;
      font-size: 20px;
      margin: 3%;
    }

    .details-container {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }
    .details-unit {
      width: 33%;

      h1 {
        font-family: Alice;
        font-size: 20px;
      }

      p {
        font-size: 15px;
        line-height: 25px;
      }

      i {
        padding: 2ch;
      }
    }
  }

  .location-img-section {
    width: 100%;
    height: 400px;
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }

  .hotels-section {
    background-color: white;
    text-align: center;
    margin: 0;
    padding: 5ch;

    .hotels-section-title {
      font-family: Alice;
      font-size: 35px;
    }

    .hotels-section-container {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }

    .hotels-section-unit {
      width: 33%;
      padding: 5ch;

      h1 {
        font-family: Alice;
        font-size: 22px;
        color: #5c4433;
      }

      p {
        font-size: 15px;
        color: #a3968d;
        font-weight: lighter;
        line-height: 20px;
      }
    }
  }

  @media only screen and (min-width: 890px) {
  }

  @media only screen and (max-width: 620px) {
    .title-one {
      h1 {
        font-size: 4rem;
      }
    }
  }
  @media only screen and (max-width: 420px) {
    .wedding-details {
      padding: 10ch 5ch;

      .details-title {
        font-size: 25px;
        margin: 0%;
      }

      p {
        font-size: 15px;
        margin: 3%;
      }

      .details-unit {
        width: 100%;

        h1 {
          font-family: Alice;
          font-size: 18px;
        }

        p {
          font-size: 14px;
          line-height: 25px;
        }
      }

      .details-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .hotels-section {
      .hotels-section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .hotels-section-unit {
        width: 100%;
        padding: 2ch;

        h1 {
          font-size: 18px;
        }
      }
    }
  }
</style>
