---
import "../styles/global.scss";
import BaseLayout from "../layouts/BaseLayout.astro";
import FooterComponent from "../components/FooterComponent.astro";
---

<BaseLayout pageLayout="boda" pageTitle="Boda">
  <div class="background-container">
    <picture>
      <source
        srcset="https://images.pexels.com/photos/931177/pexels-photo-931177.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        media="(min-width: 600px)"
      />
      <img
        src="https://images.pexels.com/photos/931177/pexels-photo-931177.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt="Background"
        class="main-background"
      />
    </picture>
  </div>

  <div class="title-one">
    <h1>Los detalles del día</h1>
  </div>

  <section class="countdown-section">
    <div
      class="countdown-img-container"
      style="background-image:url(assets/img/Flores.png)"
    >
    </div>

    <p class="wedding-date">21 de Diciembre de 2024</p>
    <p>EL GRAN DÍA</p>

    <div class="countdown-container">
      <div class="countdown-unit">
        <h1>388</h1>
        <p>Día(s)</p>
      </div>
      <div class="countdown-unit">
        <h1>21</h1>
        <p>Hora(s)</p>
      </div>
      <div class="countdown-unit">
        <h1>35</h1>
        <p>Minuto(s)</p>
      </div>
      <div class="countdown-unit">
        <h1>01</h1>
        <p>Segundo(s)</p>
      </div>
    </div>
  </section>

  <FooterComponent />
</BaseLayout>

<style lang="scss">
  .text-center {
    text-align: center;
  }

  .title-one {
    text-align: center;
    width: 100%;
    height: calc(100vh - 80px);
    display: grid;
    align-content: center;

    h1 {
      transform: translate(0, -40px);
      font-size: 11rem;
    }
  }

  .timeline-container {
    background-color: white;
  }

  .background-container {
    background: linear-gradient(
      180deg,
      rgba(92, 68, 51, 0.9038209033613446) 0%,
      rgba(92, 68, 51, 0.4220281862745098) 100%
    );
  }

  .countdown-section {
    background-color: white;
    padding: 15ch 5px;
    text-align: center;
    position: relative;
    overflow: hidden;

    .wedding-date {
      font-size: 40px;
    }
    p {
      font-size: 20px;
    margin: 10px;
    }
  }

  .countdown-container {
    max-width: 650px;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 15px 100px;

    h1 {
      color: #b18552;
      font-size: 80px;
      margin-bottom: 0%;
      margin-top: 0%;
    }

    p {
      color: #5c4433;
      font-size: 15px;
      margin: 0%;
    }
  }

  .countdown-img-container {
    position: absolute;
    width: 60%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  @media only screen and (min-width: 890px) {
    
    .countdown-img-container {
      width: 33%;
    }
  }

  @media only screen and (max-width: 620px) {
    .title-one{
      h1 {
        font-size: 4rem;
      }
    }
    .countdown-unit{
      h1 {
        font-size: 35px;
      }
      p {
        font-size: 12px;
      }
    }
    .countdown-container {
      padding: 0px 40px;
    }

    .countdown-section {
      .wedding-date {
        font-size: 27px;
      }
      p {
        font-size: 17px;
        margin: 1ch;
      }
    }
  }
  @media only screen and (max-width: 420px) {
    .countdown-unit{
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 8px;
      }
    }
  }
</style>
