---
import "../styles/global.scss";
import BaseLayout from "../layouts/BaseLayout.astro";

const imageUrl: string = 'https://firebasestorage.googleapis.com/v0/b/mjb-web-ae899.appspot.com/o/ASSETS%2FIMG_0641.JPG?alt=media&token=a207a19d-1f26-4bde-b07f-4db4c48c1b8a';
---

<BaseLayout pageLayout="contacto" pageTitle="Contáctanos">
  <div class="background-container"></div>
  <section class="contact-section">
    <div class="image-container">
      <img
        src={imageUrl}
        alt="nosotros"
        class="left-image"
      />
    </div>
    <div class="title-of-contact">
      <h1>Contáctanos</h1>
      <p>Comunícate con nosotros a través de:</p>
      <p>may.juli.boda@gmail.com</p>
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  .background-container {
    background-color: #a3968d;
  }

  .contact-section {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 7ch 5ch;
    align-items: center;

    .image-container {
      width: 70%;
      height: 80%;
      background-color: #5c4433;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-self: center;

      .left-image {
        width: 80%;
      }
    }
    .title-of-contact {
      margin-top: 100px;

      h1 {
        font-size: 100px;
        margin: 10px;
      }
      p {
        font-family: "Alice", light;
        color: white;
        margin: 8px auto;
        font-size: 18px;
      }
    }
  }


  @media only screen and (max-width: 890px) {
    .contact-section {
      display: flex;
      flex-direction: column;
      gap: 5ch;
      padding: 0;
      align-items: center;
      width: 100%;

      .image-container {
        width: 100%;
        // height: 80%;
        position: fixed;
        z-index: -1;
        top: 0;
        background: url('https://firebasestorage.googleapis.com/v0/b/mjb-web-ae899.appspot.com/o/ASSETS%2FIMG_0641.JPG?alt=media&token=a207a19d-1f26-4bde-b07f-4db4c48c1b8a');
        opacity: 0.5;
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;

        .left-image {
          display: none;
        }
      }

      .title-of-contact {

        background-color: #5c4433;
        text-align: center;
        width: 80%;
        padding: 7ch 0ch;
        position: fixed;
        bottom: 40px;

        h1 {
          font-size: 75px;
          margin: 0px;
        }
        p {
          font-family: "Alice", light;
          color: white;
          margin: 8px auto;
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
</style>

