---
import "../styles/global.scss";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageLayout="contacto" pageTitle="Contáctanos">
  <div class="background-container"></div>
  <section class="contact-section">
    <div class="image-container">
      <img
        src="https://images.pexels.com/photos/18622070/pexels-photo-18622070/free-photo-of-strasse-landschaft-mann-paar.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt="nosotros"
        class="left-image"
      />
    </div>
    <div class="title-of-contact">
      <h1>Contáctanos</h1>
      <p>Comunícate con nosotros a través de:</p>
      <p>may.juli.boda@gmail.com</p>
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  .background-container {
    background-color: #a3968d;
  }

  .contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 7ch 5ch;
    align-items: center;

    .image-container {
      width: 70%;
      height: 80%;
      background-color: #5c4433;
      display: flex;
      align-items: center;
      justify-content: center;

      .left-image {
        width: 80%;
      }
    }
    .title-of-contact {
      margin-top: 100px;

      h1 {
        font-size: 100px;
        margin: 10px;
      }
      p {
        font-family: "Alice", light;
        color: white;
        margin: 8px auto;
        font-size: 18px;
      }
    }
  }


  @media only screen and (max-width: 890px) {
    .contact-section {
      display: flex;
      flex-direction: column;
      gap: 5ch;
      padding: 0;
      align-items: center;

      .image-container {
        width: 100%;
        height: 100%;
        background-color: transparent;
        position: fixed;
        z-index: -1;
        top: 0;
        align-items: flex-start;

        .left-image {
          width: auto;
          opacity: 55%;
          height: calc(100% - 100px);
        }
      }

      .title-of-contact {
        background-color: #5c4433;
        text-align: center;
        width: 80%;
        padding: 7ch 0ch;
        position: fixed;
        bottom: 40px;

        h1 {
          font-size: 75px;
          margin: 0px;
        }
        p {
          font-family: "Alice", light;
          color: white;
          margin: 8px auto;
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
</style>
