---
import "../styles/global.scss";

const API_URL: string = import.meta.env.APP_BASE_URL;

export interface GuestLoginDto {
  firstName: string,
  lastName: string,
  password: string
}

if (Astro.request.method === "POST") {

  try {
    const data = await Astro.request.formData();
    const firstName = data.get("firstName") as string;
    const lastName = data.get("lastName") as string;
    const password = data.get("password") as string;

    const user: GuestLoginDto = {
      firstName: firstName,
      lastName: lastName,
      password: password
    }

    const response = await fetch(`${API_URL}/api/auth/signin`, {
      method: "POST",
      body: JSON.stringify(user),
      headers: {
        "Content-Type": "application/json"
      },
    });

    const cookie = await response.json();
    if(response.status === 200 && cookie) {
      let redirectResponse = Astro.redirect("/home");
      redirectResponse.headers.set('Set-Cookie', cookie.cookie)
      return redirectResponse;
    } else {
      return Astro.redirect("/?loginFail=true");
    }

  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
	  <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alice&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      rel="stylesheet"
    />
    <title>May&Juli | Boda | 2024</title>
  </head>

  <body class="main-container background-medium">
    <form class="entrance-form background-light" method="POST">
      <label for="first-name">
        Tu primer nombre
      </label>
      <input type="text" id="first-name" name="firstName" required minlength="4">

      <label for="last-name">
        Tu primer apellido
      </label>
      <input type="text" id="last-name" name="lastName" required minlength="4">

      <label for="password">
        Contraseña
      </label>
      <input type="password" id="password" name="password" required minlength="6">

      <button type="submit"  id="submitButton">
        Entrar
      </button>
      <p class="feedback-notification hidden" id="notification">
        :( Login falló revisa tu clave o tus datos.
      </p>
    </form>

  </body>

</html>

<style lang="scss">

.main-container {
  width: 100vw;
  height: 100dvh;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr;
}

.entrance-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1ch;
  padding: 2ch 4ch;
  min-width: 500px;

  button {
    font-family: Alice;
  }
}

.feedback-notification {
  text-align: center;
  width: 100%;
}

.hidden {
  display: none;
}

@media screen and (max-width: 500px) {

  .entrance-form {
    min-width: 100vw;
  }

}

</style>

<script>

const params = new URLSearchParams(window.location.search);

const showNotification = params.get('loginFail');
const notificationElement: HTMLElement | null = document.querySelector('#notification');

if(showNotification && notificationElement) {
  notificationElement.classList.remove('hidden');

  setTimeout(() => {
    location.replace('/');
    notificationElement.classList.add('hidden');
  }, 3000);
}

</script>
