---
import "../styles/global.scss";
import BaseLayout from "../layouts/BaseLayout.astro"
import { Image } from 'astro:assets';
import backgroundHome from '../../public/assets/img/foto.jpg';

---
  <BaseLayout pageLayout="home" pageTitle="Home">
    <div class="background-container">
      <picture>
        <source srcset="assets/img/foto.jpg" media="(min-width: 600px)" />
        <Image 
          src={backgroundHome}
          alt="Background"
          class="main-background"
        />
      </picture>
    </div>

    <section class="main-content">
      <h2 class="save-the-date">SAVE THE DATE</h2>
      <div class="main-title">
        <h1>May <span>&</span> Juli</h1>
      </div>
      <div class="date">
        <h2>SÁBADO</h2>
        <div class="date-number">21</div>
        <h2>DICIEMBRE</h2>
      </div>
      <h2>VILLA DE LEYVA, COLOMBIA</h2>
    </section>

  </BaseLayout>


<style lang="scss">
  .date .date-number {
    text-align: center;
    font-size: 32px;
    border-left: 1px var(--font-color) solid;
    border-right: 1px var(--font-color) solid;
    padding-left: 5px;
    padding-right: 5px;
  }



.date .date-number:hover {
  scale: 1.2;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main-title {
  span {
    font-family: "Alice", serif;
    font-size: 48px;
  }

  h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
</style>
