---

---

<footer>
  <h3>¡nos vemos en la fiesta!</h3>
  <p>
    Estamos impacientes por ver a todos nuestros queridos amigos y familiares en
    la boda. Si, por casualidad, no pueden venir, les rogamos que nos lo
    comuniquen con antelación.
  </p>
  <button>RSVP</button>
</footer>

<style>
  footer {
    background-color: #a3968d;
    text-align: center;
    padding: 5ch;
    padding-bottom: 8ch;
  }
  h3 {
    color: white;
  }
  p {
    ont-family: "Alice", serif;
    font-size: 20px;
    font-weight: normal;
    max-width: 60%;
    color: white;
    margin: auto;
    padding: 4ch;
  }
  button {
    font-family: Alice;
    background-color: transparent;
    border: 2px solid white;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 9px 30px;
  }
</style>
