---
import "../styles/global.scss";
---

<footer >
  <h3 class="text-light">¡nos vemos en la fiesta!</h3>
  <p class="text-light">
    Estamos impacientes por ver a todos nuestros queridos amigos y familiares en
    la boda. Si, por casualidad, no pueden venir, les rogamos que nos lo
    comuniquen con antelación.
  </p>
  <button>RSVP</button>
</footer>

<style lang="scss">
  footer {
    background-color: #a3968d;
    text-align: center;
    padding: 5ch;
    padding-bottom: 8ch;
  }
  h3 {
    font-size: 70px;
  }

  p {
    ont-family: "Alice", serif;
    font-size: 19px;
    font-weight: normal;
    max-width: 60%;
    margin: auto;
    padding: 4ch;
    line-height: 25px;
  }

  button {
    font-family: Alice;
    background-color: transparent;
    border: 2px solid white;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 9px 30px;
  }



  @media only screen and (max-width: 420px) {
    footer {
      padding: 10ch 4ch;
    }
    h3 {
      font-size: 60px;
      line-height: 46px;
    }
    p {
      font-size: 17px;
      max-width: 100%;
      padding: 4ch 0ch;
      line-height: 25px;
    }
  }
</style>
