---
import '../styles/global.scss';
---
<div class="navigation-bar">
  <a href="/">Home</a>
  <a href="/historia/">Nuestra Historia</a>
</div>


<style>

.navigation-bar {
  a {
    color: deeppink;
  }
}

</style>
