---
import "../styles/global.scss";
---


<form class="submission-form">

  <label for="first-name">
    ¿Asistirás?
  </label>
  <input type="text" id="first-name">

  <label for="last-name">
    ¿Qué canciones no pueden faltar en la fiesta?  </label>
  <input type="text" id="last-name">

  <label for="email">
    ¿Tienes alguna alergia?
  </label>
  <input type="email" id="email">

  <label for="phone">
    ¿Tienes alguna sugerencia para alegrar la fiesta?
  </label>
  <input type="tel" id="phone">


  <label for="message">
    Déjanos un mensaje
  </label>
  <textarea id="message"></textarea>

  <button type="submit"  id="sendBtn">
    Enviar
  </button>

</form>


<style lang="scss">

.submission-form{
  max-width:800px;
  margin:2rem auto;
  background-color: #E8DED2;
  padding:5rem;
  border-radius:8px;
}

</style>

<script>

const formElement: HTMLFormElement = document.querySelector("form") as HTMLFormElement;

// const prevElement = document.getElementById("preview");

formElement.addEventListener("submit", async e => {

  e.preventDefault();
  // const formData = new FormData(formElement);

  const testUser = {
    guestName: 'Victor Lopez',
    passwor: 'moinmoin'
  };

  // console.log(formData.entries());

  const response = await fetch("/api/auth/signin", {
    method: "POST",
    body: JSON.stringify(testUser),
    headers: {
      "Content-Type": "application/json"
    },
  });

  const data = await response.json();
  console.log(data);

  if (response.status == 400 ) {
    alert(data.error + '->' + 'Try again :P');
    location.replace('/');
  }
  else alert('Welcome ' + data.familyName + '!');
});

</script>
